body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

iframe {
  transform: translate(-50%, 0%);
  position: relative;
  top: 50%;
  left: 50%;
  align-items: center;
  /*width: 57%;*/
  width: 960px;
  height: 540px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('Media/bgimage2.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("Media/bgImage.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("Media/MainImage.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* Image Carousel */
body {
  min-height: 100dvh;
  /*display: flex;
  align-items: center; Editted*/ 
  font-family: "Roboto";
  font-size: var(--lx-text-01);
  font-weight: 500;
  color: #ffffe6;
  background-color: #10100e;
  margin: 0; /*Editted*/
  padding: 0; /*Editted*/
}

/* New main-content class to wrap main content Editted*/
.main-content {
  display: flex; /* Moved flex properties here */
  flex-direction: column;
  align-items: center;
  gap: var(--lx-gap);
  padding: var(--lx-space-01); /* Added padding */
}

.carousel-container {
  /*width: 80%; Editted*/
  width: 640px; /*Editted*/ /*Image Carousel's Width*/
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);

  .carousel {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      /*height: 100%; Editted*/
      height: 360px; /*Image Carousel's Height*/
      display: none;
      transition: opacity 0.5s ease-in-out;

      /*The area used to display the alternating images of the Image Carousel*/
      img {
        width: 100%;
        height: 100%;
        /*width: 480px; /*Editted to Resize Image Sizes*/
        /*height: 270px; /*Editted to Resize Image Sizes*/
        object-fit: cover;
        object-position: center;
      }

      /*The Object/Block that contains the text describing the image. It is found at the bottom of the alternating Images in the Carousel*/
      .caption {
        width: 100%;
        padding: var(--lx-space-01);
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.5);
      }

      /*The Object/Block that contains the overall Image Carousel. It includes the image and the text describing each image.*/
      &.active {
        opacity: 1;
        display: block;
      }
    }
  }

  /*Creating the object/shape that represent both the next and previous buttons. The font type and color of the text are specified*/
  .btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #10100e;
    background-color: #ffffe6;
    transition: transform 0.2s ease-in-out;

    /*Animation of the Buttons once the Cursor is placed on them*/
    &:active,
    &:focus {
      transform: translateY(-50%) scale(0.9);
    }

    &:hover {
      transform: translateY(-50%) scale(0.96);
    }
  }

  /*Position of the Buttons*/
  .prev {
    left: -5%;
  }

  .next {
    right: -5%;
  }

  /*The Selector at the Bottom of the Image Carousel*/
  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: #242421;
      transition: background-color 0.2s ease;

      &.active,
      &:hover {
        background-color: #ffffe6;
      }
    }
  }
}
